<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>book_now</servlet-name>
        <servlet-class>book_now</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booking</servlet-name>
        <servlet-class>booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cardetails</servlet-name>
        <servlet-class>cardetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bmw</servlet-name>
        <servlet-class>bmw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newbmw</servlet-name>
        <servlet-class>newbmw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>data</servlet-name>
        <servlet-class>data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>oldbmw</servlet-name>
        <servlet-class>oldbmw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newbmwac</servlet-name>
        <servlet-class>bmw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>book</servlet-name>
        <servlet-class>book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLogin</servlet-name>
        <servlet-class>CustomerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeLogin</servlet-name>
        <servlet-class>EmployeeLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryServlet</servlet-name>
        <servlet-class>InventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertServlet</servlet-name>
        <servlet-class>InsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>retrieve_register</servlet-name>
        <servlet-class>retrieve_register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register_delete</servlet-name>
        <servlet-class>register_delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>book_now</servlet-name>
        <url-pattern>/book_now</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booking</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cardetails</servlet-name>
        <url-pattern>/cardetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bmw</servlet-name>
        <url-pattern>/bmw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newbmw</servlet-name>
        <url-pattern>/newbmw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>data</servlet-name>
        <url-pattern>/data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>oldbmw</servlet-name>
        <url-pattern>/oldbmw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newbmwac</servlet-name>
        <url-pattern>/newbmwac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>book</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLogin</servlet-name>
        <url-pattern>/CustomerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeLogin</servlet-name>
        <url-pattern>/EmployeeLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryServlet</servlet-name>
        <url-pattern>/InventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertServlet</servlet-name>
        <url-pattern>/InsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retrieve_register</servlet-name>
        <url-pattern>/retrieve_register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register_delete</servlet-name>
        <url-pattern>/register_delete</url-pattern>
    </servlet-mapping>
</web-app>
